table {
        border-collapse: collapse;
        margin: 10;
        width: 100%;
    }

th, td{
    pad: 10px;
    text-align: left;
}
thead tr {
    border-bottom: solid 3px rgb(24, 12, 12);
}

tbody tr:hover{
    background-color: #ebe4e4;
    
}

tfoot {
    background-color: #444;
    color: white;
    font-weight: bold;
}

caption {

    color: black;
    font-size: 1.4em;
}