h1{
    margin: 10px;
}
input, label {
    display: block;
    margin-left: 10;
    margin-bottom: 5;
}

.botaoenviar{
    font-size: 1.3em;
    margin-left: 10;
    margin-top: 10;
    border-radius: 30px;
    padding: 10px 20px;
    background: #f50a31;
    color: #fff;
    
}



.div-cli select, 
.div-prod select {

    width: 280px;
    margin-left:10px;
    
}